/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        main_layer {
            bindings = <
&trans  &trans   &kp Y         &kp L     &kp LS(UNDER)  &kp SEMI     &kp B      &kp P    &kp D   &kp C         &trans  &trans
&trans  &kp R    &kp I         &kp N     &kp A          &kp COMMA    &kp F      &mo 1    &kp T   &kp S         &kp U   &trans
&trans  &kp DOT  &kp LS(LPAR)  &kp M     &kp O          &kp EQUAL    &kp V      &kp H    &kp G   &kp LS(RPAR)  &kp W   &trans
                               &kp LGUI  &kp BSPC       &kp E        &kp SPACE  &kp RET  &trans
            >;
        };

        secondary_layer {
            bindings = <
&trans  &trans      &kp LS(PLUS)  &kp X          &kp LS(STAR)   &kp CARET        &kp P   &trans  &kp K     &kp Q     &trans        &trans
&trans  &kp LS(AT)  &kp LS(LT)    &kp MINUS      &kp LS(GT)     &kp LS(EXCL)     &trans  &trans  &trans    &trans    &kp Z         &trans
&trans  &kp J       &kp LS(AMPS)  &kp LBKT       &kp RBKT       &kp LS(POUND)    &trans  &trans  &kp BSLH  &kp FSLH  &kp LS(PIPE)  &trans
                                  &kp LS(PRCNT)  &kp LS(COLON)  &trans           &trans  &trans  &trans
            >;
        };

        num_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp N7  &kp N8  &kp N9  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp N1  &kp N2  &kp N3  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp N4  &kp N5  &kp N6  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        F_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &kp F12  &kp F7  &kp F8  &kp F9  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp F11  &kp F1  &kp F2  &kp F3  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp F10  &kp F4  &kp F5  &kp F6  &trans  &trans
                        &trans  &trans  &trans    &trans   &trans  &trans
            >;
        };
    };
};
